html {
  overflow-y: scroll;
  ::-webkit-scrollbar {
    width: 16px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgba(33, 13, 99, 0.5);
  }
  ::-webkit-scrollbar-button {
    background-color: #bbbbbb;
    display: block;
    height: 3px;
    width: 16px;
  }
}

body {
  margin: 0px;
}
form {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}
input {
  display: inline-block;
  font-size: 20px;
  padding-left: 10px;
}

button {
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  padding: 2px 15px;
}

button[type='submit'] {
  background-color: rgb(143, 248, 143);
  margin: 0px 15px;
}

.load-more {
  visibility: hidden;
}

.load-more.visible {
  visibility: visible;
  position: fixed;
  bottom: 65px;
  right: 65px;
  background-color: rgb(247, 247, 18);
  box-shadow: 0px 0px 7px 7px rgb(37, 37, 11);
  font-size: large;
  padding: 12px 30px;
}

.gallery {
  margin: 0px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
img {
  display: block;
  width: 100%;
  height: 75%;
  object-fit: cover;
}
.info {
  display: flex;
  font-size: 80%;
  padding: 10px 0px;
}
.photo-card {
  max-width: 24%;
  min-width: 225px;
  max-height: 270px;
  box-shadow: 0px 4px 5px grey;
}

.info-item {
  text-align: center;
  margin: 0px;
  padding: 0px 6px;
}
@media (max-width: 1024px) {
  .info-item {
    padding: 0px 3px;
  }
}
